/*
Theme Name:   Oxygen - Child Theme
Theme URI:    http://laborator.co/
Description:  Use this theme if you want to extend features of Oxygen or prevent overwriting the changes you make when new theme update is available.
Template:     oxygen
Text Domain:  oxygen
*/


/* Shop menu left arrow */
.menu-item-has-children>a:after {
    font-family: fontello;
    content: '\e873';
    display: inline-block;
    margin-left: 10px;
    color: #666;
}

p a,
.post-content a {
    color: #eb4b76;
}

.woocommerce .woocommerce-success,
.woocommerce .woocommerce-message {
    background-color: #eb4b76;
    border-color: #eb4b76;
}

.laborator-woocommerce .product-single .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
.laborator-woocommerce .product-single .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a {
    background-color: #eb4b76;
}

#yith-wcwl-form.shop .shop_table tbody tr td.product-add-to-cart .button {
    background-color: #eb4b76;
}

.shipping_address {
    margin-top: 23px;
}

.laborator-woocommerce .checkout-form-fields .form-row textarea {
    min-height: 90px;
}

.laborator-woocommerce .checkout-form-fields .form-row label .required {
    color: #eb4b76;
}

.shop .woocommerce-checkout-review-order-table .order-total td {
    color: #eb4b76;
}

.laborator-woocommerce .form-row.terms {
    display: flex;
    padding: 16px 30px;
}

.form-row label .required {
    color: #eb4b76;
}

.radio,
.checkbox {
    margin: 0px;
}

.woocommerce .woocommerce-info {
    background-color: #eb4b76;
    border-color: #eb4b76;
}

.woocommerce .woocommerce-info a {
    color: #fff;
    text-decoration: underline;
}

.alert.alert-success {
    background-color: #eb4b76;
    border-color: #eb4b76;
}

.btn-group,
.btn-group-vertical {
    float: right;
}

.laborator-woocommerce .product-single .yith-wcwl-add-to-wishlist {
    display: none;
}

.laborator-woocommerce .product-single .entry-summary .variations_form .variations {
    margin-bottom: -19px;
}

.laborator-woocommerce .product-single .entry-summary .share-product {
    margin-top: 21px;
    float: right;
}

.single_variation_wrap {
    float: right;
    /* margin-top: 55px; */
}

.cat-parent {
    margin-bottom: 15px !important;
}

.log-in {
    display: none;
}

.laborator-woocommerce .myaccount-title {
    display: none;
}

.about-alexascha-text {
    display: none;
}

.shop .items .item-wrapper .item .wish-list {
    right: 230px;
}

.wishlist_table tr td.product-stock-status span.wishlist-in-stock {
    color: #eb4b76;
}

#yith-wcwl-form.shop .shop_table tbody tr td.product-add-to-cart .button:hover {
    background-color: #000000;
}

.oxygen-top-menu>.wrapper>.top-menu-centered>.main .navs .main-menu-env .nav>li:hover>a {
    color: #eb4b76;
}

.oxygen-top-menu>.wrapper>.top-menu-centered>.main .navs .main-menu-env .nav>li { margin-right: 13px; }

.subscribe_button {
    -moz-user-select: none;
    user-select: none;
    background: #000 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 13.45px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 10px;
    padding: 8px 20px;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
    vertical-align: top;
    white-space: nowrap;
    width: 38%;
}

.subscribe_input {
    background: #ffffff none repeat scroll 0 0 !important;
    border: 0 none;
    color: #666666;
    float: left;
    padding: 6px 10px;
    width: 62%;
}

.current-cat>a {
    color: #eb4b76;
}

.current-cat-parent>a {
    color: #eb4b76;
}

.glyphicon-heart {
    transform: scale(2);
}

.laborator-woocommerce .product-single .entry-summary .variations_form .variations .reset_variations {
    display: none !important;
}

.laborator-woocommerce .product-single .entry-summary .variations_form .single_variation .stock {
    margin-top: 30px;
}


/* Bilderkarusell im Produkt bei vielen Bildern zu hoch */

.owl-item.loading {
    min-height: 64px !important;
}


/* Sortierungs-Dropdown vergrÐ“Â¶Ð“ÑŸerung, damit die Werte nicht abgeschnitten werden */

.sorting-dropdown {
    width: 215px !important;
}

.shop .items .item-wrapper .item .sale_tag.stock-out .ribbon {
    padding-top: 85px !important;
}

.laborator-woocommerce .product-single .product-left-info .ribbon.out-of-stock {
    padding-top: 100px !important;
}

.laborator-woocommerce .product-single .product-left-info .ribbon {
    padding-top: 80px !important;
}


/* Verschiebung von "In den Warenkorb" nach rechts (rechtsbÐ“Ñ˜ndig) */

.laborator-woocommerce .product-single .entry-summary .variations_form .variations_button {
    margin-left: 25px;
}


/* Verschiebung von "Nicht vorrÐ“Â¤tig" nach rechts (rechtsbÐ“Ñ˜ndig) */

.woocommerce-variation-availability {
    margin-left: 250px;
}


/* Abstand unter dem Logo */

.oxygen-top-menu>.wrapper>.top-menu-centered>.main .logo {
    padding: 0;
}

.logo.logo-image img { width: 300px !important; }

.logo .logo-entry { margin: 14px 0 0 0; }


/* Links in der Produktbeschreibung */

.laborator-woocommerce .product-single .woocommerce-tabs .description-tab a {
    color: #eb4b76;
    transition: all 350ms ease-in-out 0s;
}


/* Vorgeschlagene Produkte */

.cart-ribbon {
    right: 5px;
}

.cart-env .cart-totals>li .cross-sells .product-entry .product-info {
    float: none;
}

.cart-ribbon a .cart_content, .cart-ribbon a .cart_content:hover {
    padding: 5px 10px 5px;
    width: auto;
}

.cart-ribbon a .bucket-bottom {
    border-width: 8px 22px;
}


/* Neueste BeitrÐ“Â¤ge im Blog */

.widget_recent_entries li a:hover,
.widget_rss li a:hover {
    color: #eb4b76;
}


/* Frachkostenrechner aus Warenkorb entfernen */

.shipping-calculator-form-env {
    display: none;
}


/* Regeln im Blog ausblenden */

.rules {
    display: none;
}


/* Anzahl im Warenkorb */

.quantity input[type="button"] {
    background: #eb839f none repeat scroll 0 0;
}


/* Anzahl im Warenkorb */

.quantity input.qty {
    background: #eb4b76 none repeat scroll 0 0
}


/* Titel bei Inspiration entfernen */

.page-head-title {
    display: none;
}


/*10% pop-up*/

.snp-theme-html {
    border-radius: 300px;
    /*width: 100%; padding-top: 100%; padding-left: 100%;*/
    max-width: 500px !important;
    width: 500px !important;
    height: 500px !important;
    padding: 13%;
}

.fancybox-skin {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.snp-content-inner {
    text-align: center;
    position: relative
}

.snp-theme-html p#pop-heading {
    font-size: 3em;
    text-transform: uppercase;
    padding: 7px 0;
    border-bottom: 1px solid #000;
    color: #000;
    width: 222px;
    margin: auto;
}

.snp-theme-html p#pop-intro {
    font-size: 1.33em;
    color: #000 !important;
    line-height: 26px;
    text-transform: uppercase;
    margin: 12px 0;
}

.snp-theme-html p {
    font-size: 1.18em;
    color: #000;
}

.snp-theme-html input {
    width: 213px;
    height: 32px;
    text-align: center;
    color: #fff !important;
}

.snp-theme-html input::-webkit-input-placeholder {
    color: #fff;
}

input.wcmd_email {
    width: 213px !important;
    height: 32px !important;
    padding: 10px !important;
    background: #000 !important;
    color: #fff !important;
}

.wcmd-fields {
    text-align: center !important;
}

.wcmd-btn {
    width: 213px !important;
    height: 32px !important;
    padding: 9px !important;
    background: #f54164 !important;
    color: #fff !important;
    font-size: 14px !important;
    margin-bottom: 28px;
}

.wp-image-11414 {
    margin-bottom: 20px !important;
}

@media only screen and ( max-width: 499px) {
    .snp-theme-html {
        border-radius: 300px;
        max-width: 320px !important;
        width: 320px !important;
        height: 320px !important;
        padding: 5%;
    }
    .snp-theme-html p#pop-heading {
        font-size: 2em;
    }
    .snp-theme-html p#pop-intro {
        font-size: 0.9em;
        color: #000 !important;
        line-height: 13px;
        text-transform: uppercase;
        margin: 12px 0;
    }
    .snp-theme-html p {
        font-size: 0.8em;
        color: #000;
    }
    .wp-image-11414 {
        margin-bottom: 10px !important;
    }
    .wcmd-btn {
        margin-bottom: 14px;
    }
}


/* Search block */

.oxygen-top-menu>.wrapper>.top-menu-centered {
    margin-bottom: 0;
}

.oxygen-top-menu>.wrapper>.top-menu-centered>.main .navs .main-menu-env>.search-form,
.navs .search-form {
    /*float: right;*/
    margin: 0 0 0 20px;
}

.oxygen-top-menu>.wrapper>.top-menu-centered>.main .navs .main-menu-env .search-form a,
.navs .search-form a {
    background: #000;
    color: #fff;
    padding: 8px 10px 10px 10px;
    margin-top: 10px;
    z-index: 1001;
}

.oxygen-top-menu>.wrapper>.top-menu-centered>.main .navs .main-menu-env>.search-form .search-input-env,
.navs .search-form .search-input-env {
    padding: 4px;
}

.oxygen-top-menu>.wrapper>.top-menu-centered>.main .navs .main-menu-env>.search-form .search-input-env .search-input,
.navs .search-form .search-input-env .search-input {
    background: #fff;
}

.navs .search-form {
    position: relative;
    width: fit-content;
    display: inline-block;
}

.navs .search-input-env {
    position: relative;
    display: inline-block!important;
    visibility: hidden;
    zoom: 1;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    left: -10px;
    top: -7px;
    -webkit-transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275)
}

.navs .search-input-env {
    display: block;
    position: absolute;
    left: 0;
    top: -7px;
    padding: 7px;
    min-width: 200px;
    border: 1px solid #ebebeb;
    background: #FFF;
    z-index: 1000;
}

.navs .search-input-env.visible {
    left: 34px;
    visibility: visible;
    zoom: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100)
}

.navs .main-menu-env>.search-form .search-input-env .search-input {
    padding-left: 25px
}

.navs .main-menu-env>.search-form .search-input-env.visible {
    left: auto
}

.stick-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    background: #fff;
    left: 0;
    text-align: center !important;
}

.navs .stick-top .nav {
    float: none !important;
    display: inline-block;
    margin: auto !important;
}

.oxygen-top-menu>.wrapper>.top-menu-centered>.main .navs .main-menu-env>.nav>li>a {
    font-size: 111%;
}

@media screen and (max-width: 1366px) {
    .oxygen-top-menu>.wrapper>.top-menu-centered>.main .navs .main-menu-env>.search-form .search-input-env {
        left: -207px !important;
    }
    .oxygen-top-menu>.wrapper>.top-menu-centered>.main .navs .main-menu-env>.search-form .search-input-env .search-input {
        padding-left: 15px;
    }
}


/* Slider */

@media screen and (max-width: 1024px) {
    .oxygen-top-menu>.wrapper>.top-menu-centered>.main .navs .main-menu-env .nav>li {
        margin-right: 6px;
    }
    .tp-bullet {
        width: 6px !important;
        height: 6px !important;
    }
}

@media screen and (max-width: 767px) {
    /*.slide-over { line-height: 0 !important; font-size: 14px !important; }
	.tp-mask-wrap { margin-top: -22px; }*/
    .slide-over {
        display: block !important;
        margin-top: -22px !important;
    }
}

h1 span#blog-name-h1 {
    display: none;
}


/* Cookie Warning */

div#cookie-info {
    background: #efefef;
    width: 100%;
    padding: 7px;
    text-align: center;
    font-size: 11px;
}

@media screen and (max-width: 1024px) {
    div#cookie-info {
        font-size: 70%;
    }
}


/* armcandyswing */

h2.black-bg {
    font-size: 14px;
    display: block;
    background: #000;
    color: #fff;
    width: 276px;
    height: 46px;
    line-height: 46px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 20px auto !important;
}

@media screen and (max-width: 780px) {
    iframe {
        width: 100%;
    }
}


/* Homepage grid img fix */


/*.lab_wpb_banner_2 a img { width: auto !important; max-width: initial !important; }*/

.lab_wpb_banner_2 .title {
    padding: 0;
    border: 0;
    line-height: 62px;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    font-size: 18px;
}

.lab_wpb_banner_2 .centered {
    width: 100%;
    max-width: 100%;
    top: 100%;
    margin-top: -31px;
}

.lab_wpb_banner_2 span.ol {
    display: none;
}

.black-no-bg .title {
    background: none;
    color: #000 !important;
}

.black-bg-btm .title {
    color: #000 !important;
    background: rgba(255, 255, 255, 0.4);
}

.bg-top .centered {
    top: 0;
    margin-top: 31px;
}

@media screen and (min-width: 1280px) {
    .el_151024271989714 img,
    #el_151126091159227 img {
        height: 567px !important;
    }
}

@media screen and (max-width: 768px) {
    .lab_wpb_banner_2 a img {
        width: 100% !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .lab_wpb_banner_2 .title {
        font-size: 14px;
    }
}


/* Geschenkenideen für Weihnachten */

@media screen and (min-width: 1023px) {
    .col-md-9.shop-product-env {
        float: right !important;
    }
}

.grey-border {
    border: 2px solid #7F7F7F;
    padding: 15px;
    margin: 0;
    font-size: 11px !important;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.grey-border .vc_column-inner {
    padding: 0;
}

.grey-border .grey-border {
    display: table-cell;
    height: 253px;
    vertical-align: middle;
}

.geschenkenideen,
.geschenkenideen p {
    color: #000 !important;
    text-transform: uppercase;
}

.geschenkenideen .wpb_content_element {
    margin-bottom: 20px;
}

.geschenkenideen .wpb_content_element img {
    margin-top: 15px;
}

@media screen and (max-width: 1024px) {
    .grey-border {
        margin-bottom: 35px;
    }
    .grey-border .vc_column-inner {
        padding: 0 !important;
    }
}

.shop_sidebar .sidebar {
	padding: 0px 25px 10px 0;
}

/* Sidebar shop heading fix */

.shop_sidebar .sidebar h3 {
    word-break: normal;
}

@media screen and (min-width: 1023px) {
    .shop_sidebar .sidebar h3 {
        font-size: 18px;
    }
}

/* ARMCANDYPOWER */

.armcandypower {
    padding: 0;
}

.armcandypower h2 {
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    margin: 20px !important;
    padding: 0;
    text-align: center;
}

.armcandypower p {
    margin: 0 0 8px 0 !important;
    color: #000;
    font-size: 100%;
}

.armcandypower hr {
    background: #000;
    border: 0;
    height: 1px;
    margin: 10px 0 15px 0;
}

.armcandypower .vc_column-inner {
    padding: 0 !important;
}

.armcandypower .wpb_content_element {
    margin: 0 !important;
}

.armcandypower .wpb_column.vc_column_container.vc_col-sm-3 {
    padding: 6px;
    margin: 0 0 20px 0;
}

.armcandypower .wpb_column.vc_column_container.vc_col-sm-3 img:hover {
    cursor: pointer;
}

.armcandypower .wpb_column.vc_column_container.vc_col-sm-3 .vc_column-inner {
    padding: 15px !important;
    background: #fff;
}

.weiter-lesen {
    background: #000;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 10px;
    margin: 0;
    float: right;
    border-radius: 0;
    margin-top: 12px;
}

.vc_custom_1511448031260 {
    padding: 20px;
}

.mehr-stories {
    display: block;
    background: #fff;
    border: 0;
    border-radius: 0;
    width: 190px;
    height: 44px;
    line-height: 44px;
    font-size: 13px;
    color: #000;
    text-align: center;
    margin: 0 auto 25px auto !important;
}

.armcandypower .modal-body .col-sm-12 {
    padding: 0;
}

.armcandypower .modal-body .col-sm-12 {
    margin-bottom: 40px;
}

.armcandypower .modal-body p {
    margin-bottom: 25px !important;
}

.armcandypower .vc_row { margin: 0; }

.armcandypower .vc_column-inner { padding: 0 50px !important; } 

.zum-armcandyswing {
    width: 189px !important;
    height: 28px !important;
    background: #FF2F75;
    line-height: 25px;
    font-size: 12px;
    color: #fff;
    border: 0;
    border-radius: 0;
    margin-top: 25px;
}

.modal-dialog.modal-lg {
    padding: 20px;
}

.modal-content {
    border-radius: 0;
}

button.close { position: absolute;
    top: -18px;
    border-radius: 50px;
    right: -24px;
    background: #000;
    opacity: 1;
    padding: 5px 10px;
    color: #fff;
    border: 3px solid #fff;
}

button.close:hover { opacity: 1; color: #fff; }

#grey-top {
    width: 100%;
    background: #7E7D7D;
    height: 24px;
    line-height: 24px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-weight: normal;
    padding-left: 2%;
}

#yith-woo-ajax-reset-navigation-2 .yith-wcan .yith-wcan-reset-navigation.button {
    padding: 8px 20px;
    width: 100%;
    display: block;
    text-align: center;
}

.col-md-3.sidebar-env {
    clear: left;
}

#grey-top span { margin: 0 3.7%; font-size: 10px; }

.woof_container_inner > h4 > a:after {
    font-family: fontello !important;
    content: '\e873';
    display: inline-block;
    margin-left: 10px;
    color: #666;
}

@media screen and (max-width: 768px) {
    #grey-top span {
        display: inline-block;
        width: 100%;
        height: 5px;
        visibility: hidden;
        margin: 0;
    }
    #grey-top { height: auto; line-height: 7px; padding: 7px 0 10px 0; font-size: 10px; }
}

.menu li ul.sub-menu { margin: 10px 0 0 15px  }
.menu li ul.sub-menu li { padding: 3px 0; border: none; }
.menu li ul.sub-menu ul.sub-menu { margin: 10px 0 10px 15px; }
}

/* Shop clear fix */
@media screen and (min-width: 769px) {
    .shop .items.columns-3 .products .product:nth-of-type(3n+1) {
        clear: none;
    }
}

.shop .items.columns-4 .products .product {
    width: 33.333%;
}

@media screen and (max-width: 480px) {
	.shop .items.columns-4 .products .product {
		width: 100%;
	}
}

/* WOOF header slide down */
.woof_container_inner h4 { position: relative; text-transform: uppercase; font-size: 110%; }
.woof_container_inner a {     
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 18px;
}
.woof_container_inner > h4 > a:after { position: absolute; right: 0; }
.woof_sid_widget { margin-top: 20px; }
.woof_sid_widget h4 { font-size: }
.woof_color_term_959 { -webkit-box-shadow:inset 0px 0px 0px 1px #999;
    -moz-box-shadow:inset 0px 0px 0px 1px #999;
    box-shadow:inset 0px 0px 0px 1px #999; }

/* Shop left menu active highlight */
li.current-menu-item > a { color: #eb4b76; }

.top-first .breadcrumbs {
    padding: 0 0 10px 0;
}

.btn-group button {
    padding: 0;
    margin: 0;
}

.btn-group .btn {
    padding-right: 0;
}

.shop .woocommerce-result-count {
    margin: 0 0 16px 0;
}